attrs==19.1.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
bleach==3.1.0
certifi==2019.6.16
cffi==1.12.3
configparser==3.8.1
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
entrypoints==0.3
enum34==1.1.6
functools32==3.2.3.post2
futures==3.3.0
ipaddress==1.0.22
ipykernel==4.10.1
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
Jinja2==2.10.1
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==5.2.0
jupyter-core==4.5.0
kiwisolver==1.0.1
MarkupSafe==1.1.1
matlabruntimeforpython===R2016a
matplotlib==2.2.2
mistune==0.8.4
mkl-fft==1.0.14
mkl-random==1.0.2
mkl-service==2.0.2
nbconvert==5.6.0
nbformat==4.4.0
notebook==5.7.8
numpy==1.14.2
olefile==0.46
pandocfilters==1.4.2
pathlib2==2.3.4
pexpect==4.7.0
pickleshare==0.7.5
Pillow==5.1.0
prometheus-client==0.7.1
prompt-toolkit==1.0.16
protobuf==3.5.2.post1
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.4.2
pyparsing==2.2.0
pyrsistent==0.15.4
python-dateutil==2.7.2
pytz==2018.3
pyzmq==18.1.0
qtconsole==4.5.5
scandir==1.10.0
scikit-learn==0.19.1
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
subprocess32==3.2.7
terminado==0.8.2
testpath==0.4.2
torch==0.4.1
torchvision==0.2.1
tornado==5.1.1
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.1
